*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*... homepage start... */
.navbar-brand::first-letter{
    font-size: 40px;
    line-height: 1;
}
.navbar-brand span{
    top: 10px;
}
/*... homepage end... */


/*... create profile page start... */
.create-profile{
}
.create-profile h1,.create-profile form{
    max-width: 40rem;
    margin: 1rem auto;
} 
.create-profile .footer-line{
    /* margin-left:-22rem  ;
    margin-right: -22rem; */
    max-width: 150%;
    margin: 1rem 0;
}
.create-profile .cancel-form{
    font-size: 1rem;
}

/*... create profile page end... */